/* Wireframe */

/* * {
    border: solid 1px red;
} */

/* custom font */

@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

/* global styles */

* {
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Tomorrow', sans-serif;
}

body {
    background-image: url("./images/1272212.jpg");
    background-image: no-repeat;
    background-size: contain;
}

/* header styling */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 1px 8px black;
    padding: 1em;
    background-image: linear-gradient(to right, rgb(217, 0, 255) , rgb(60, 0, 255));
}

header h1 {
    margin-right: auto;
    font-size: 1.5em;
    color: aliceblue;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 1em;
}

header a {
    text-decoration: none;
    transition: all 0.6s ease 0s;
}

header a:hover {
    /* padding: 1em; */
    /* border-radius: 20px; */
    box-shadow: 10px 20px 30px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
}

/* About img styling */

#krskullpic {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
    margin: 10px;
    box-shadow: 1px 1px 10px 5px rgba(202, 87, 196, 0.329);
}

/* main & containers styling */

main {
    padding: 10px;
    margin-top: 10%;
    border: 1px solid rgba(202, 87, 196, 0.19);
    background-color: rgb(38, 38, 38);
}

main h2 {
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
}

section{
    display: flex;
}

article{
    display: flex;
}

article p {
    align-self: center;
    margin: 2%;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.placeholder-container {
    min-width: 75%;
    flex-basis: 400px;
    flex-grow: 1px;
    position: relative;
}

.placeholder-container span{
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 30px;
    background-color: rgb(144, 55, 228);
}

.portfolio-container div{
    flex-direction: 350px;
    flex-grow: 1px;
    flex-basis: 350px;
    min-width: 50%;
}

#exsample {
    border: 5px solid rgb(39, 39, 39);
    height: auto;
    width: 100%;
}

.placeholder{
    background-image: linear-gradient(to right, rgb(217, 0, 255) , rgb(60, 0, 255));
    border-radius: 1%;
    transition: all 0.6s ease 0s;
}
.placeholder:hover {
    opacity: 0.5;
}

.placeholder p {
    background-color: rgb(46, 46, 46);
    padding: 70px 0;
    text-align: center;
    width: 100%;
    height: 200px;
}

section p {
    align-self: center;
}

.portfolio-container .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* contact form */

#contact-form {
    background:rgba(4, 4, 4, 0.244);
    padding: 1.5%;
}

#contact {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 41%;
    width: 20%;
    background-image: linear-gradient(to right, rgb(217, 0, 255) , rgb(60, 0, 255));
    border-radius: 2%;
    transition: all 0.6s ease 0s;
}

#contact:hover {
    box-shadow: 1px 1px 10px 5px rgba(85, 16, 223, 0.5), 1px 1px 10px 5px rgba(244, 7, 204, 0.5);
}

h3 {
    align-self: center;
}

input[type=text] {
    border: 2px solid rgba(7, 7, 7, 0.638);
    border-radius: 4px;
    color: black;
}

input[type=submit] {
    background-color: rgba(28, 45, 72, 0.736);
    transition-duration: 0.4s;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: none;
    border-radius: 4px;
    margin: 3%;
    padding: 2%;
}

input[type=submit]:hover {
    background-color: blueviolet;
}



/* footer styling */

footer {
    text-align: center;
    padding: .7%;
    background-image: linear-gradient(to right, rgb(217, 0, 255) , rgb(60, 0, 255));
    color: white;
    font-size: 1.2em;
}

/* media screen */

@media screen and (max-width:700px) {
    section {
        flex-direction: column;
    }
}