/* Wireframe */

* {
    border: solid 1px red;
}

/* global styles */

* {
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-image: url("./images/HD-wallpaper-anime-kamen-rider.jpg");
    background-image: no-repeat;
    background-size: cover;
}

/* header styling */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 1px 8px black;
    padding: 1em;
}

header h1 {
    margin-right: auto;
    font-size: 1.5em;
    color: aliceblue;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 1em;
}

header a {
    text-decoration: none;
    transition: all 0.6s ease 0s;
}

header a:hover {
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* About img styling */

#krskullpic {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
    margin: 10px;
    box-shadow: 0 5px 8px rgba(202, 87, 196, 0.19);
}

/* main & containers styling */

main {
    padding: 10px;
    margin-top: 10%;
    border: 1px solid rgba(202, 87, 196, 0.19);
    background-color: rgb(38, 38, 38);
}

main h2 {
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
}

section{
    display: flex;
}

section p{
    align-self: center;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.placeholder-container {
    min-width: 75%;
    flex-basis: 400px;
    flex-grow: 1px;
    position: relative;
}

.placeholder-container span{
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 30px;
    background-color: rgb(144, 55, 228);
}

.portfolio-container div{
    flex-direction: 350px;
    flex-grow: 1px;
    flex-basis: 350px;
    min-width: 50%;
}

#exsample {
    border: 5px solid rgb(39, 39, 39);
    height: auto;
    width: 100%;
}

.placeholder:hover {
    opacity: 0.5;
}

.placeholder p {
    background-color: rgb(46, 46, 46);
    padding: 70px 0;
    text-align: center;
    width: 100%;
    height: 200px;
}

section p {
    align-self: center;
}

.portfolio-container .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* contact form */

form {
    display: inline-flex;
    padding: 1%;
    flex-direction: column;
    align-content: center;
    margin-left: 39%;
    width: 20%;
    border: solid 3px black;
    border-radius: 3px;
    background: rgb(168, 37, 168);
}

#contact-form h2{
    text-align: center;
}